<!-- Top menu -->
<!-- TODO: TOGGLE icon is white - non visible -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav">
        <li><a class="scroll-link" href="#apply-now">Apply Now</a></li>
        <li><a href="students.html">For Students</a></li>
        <li><a class="scroll-link" href="#support-us">Support Us</a></li>
        <li><a class="scroll-link" href="#volunteer">Volunteer</a></li>
        <li><a class="scroll-link" href="#team">About Us</a></li>
        <li><a class="scroll-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
