<div class="block-2-container section-container section-container-blue support-us-container">
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 block-2-box wow fadeInLeft">
          <h1>Want to help?</h1>
        </div>
        <div class="col-sm-6 col-md-6 block-2-box help-section fadeInLeft">
          <h3 class="text-left">We are looking for</h3>
          <ul class="text-left">
            <li><span class="list-icon"><img src="img/ico/business-partnership-white.svg"></span>Business Partners</li>
            <li><span class="list-icon"><img src="img/ico/code.svg"></span>Mentors (Javascript)</li>
            <li><span class="list-icon"><img src="img/ico/laptop.svg"></span>Used Laptops</li>
          </ul>
        </div>
      </div>
  </div>
</div>