<div class="section-container">
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h2>Want to Contribute?</h2>
        </div>
        <div class="col-sm-6 col-md-6 block-box help-section">
          <h3 class="text-left">We are looking for</h3>
          <br>
          <ul class="text-left">
            <li><span class="list-icon"><img src="img/ico/conference-hall-black.svg"></span>Space</li>
            <li><span class="list-icon"><img src="img/ico/code.svg"></span>Mentors (Javascript)</li>
            <li><span class="list-icon"><img src="img/ico/laptop.svg"></span>Used Laptops</li>
          </ul>
        </div>
      </div>
  </div>
</div>