<div class="section-container top-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 section-description">
        <h2>{{#block "title"}}{{/block}}</h2>
        <div class="divider-1"><span></span></div>
        <p>{{#block "content"}}{{/block}}</p>
      </div>
    </div>
  </div>
</div>